{% extends "app/base.html" %}
{% load static %}

{% block principal %} 



<body>

<h2 style="background-color:rgb(5, 218, 255)"="color:rgb(255, 140, 0)"><p>About</p></h2>


<h3><p> Hola, mi nombre es Agustin Tapia y este es mi proyecto, se trata sobre diferentes tipos de un deporte llamado "Calistenia".
    Considero que es un deporte bello de aprender, sin embargo, los ejercicios de este deporte se inspiraron utilizando el peso del mismo cuerpo,
    por lo que no habrá que usar pesos/kg extra en c/u de ellos. En conclusión, me gustaria que los usuarios que entren a mi pagina, puedan aprender
    a realizar estos con precaución y también que haya usuarios que puedan compartir por medio de los posts, sus conocimientos en este deporte.
</p></h3>

</body>



{% endblock %}
